.first-search {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.first-search-title {
    font-size: 40px;
    color: black;
}

.first-search-description {
    font-size: 20px;
    color: gray;
    text-align: center;
}

.first-search-icon {
    font-size: 150px;
    color: green;
    margin-bottom: 3rem;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.add-celebrity {
    margin-top: 0.8rem;
    border: none;
    border-radius: 20px;
    background-color: #4694FE;
    color: #fff;
    font-family: "Graphik-Medium", sans-serif;
    font-size: 1rem;
    height: 2.5rem;
    line-height: 42px;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.add-celebrity:hover {
    background-color: #4370FF;
}

.add-celebrity:disabled {
    background-color: #4693fe58;
}

.go-back {
    text-decoration: none;
}

.go-back a {
    text-decoration: none;
}

.go-back a:hover,
.go-back a:active,
.go-back a.active {
    text-decoration: none;
}